html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #afafae;
    color: #333;
}

.scrolling-container {
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
}
.navbar {
    background-color: #457c92;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100vw;
    box-sizing: border-box;
}

.navbar-buttons {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 5px; 
    flex-wrap: wrap;
}

.navbar button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s ease;
}

.navbar button:hover {
    color: #ddd;
}

.navbar-logo {
    height: 50px; 
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    max-width: 100vw;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.section {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.section.show {
    display: flex;
    transform: translateY(0);
    opacity: 1;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-img {
    width: 155px;
    height: 180px;
    margin-bottom: 15px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
    margin-bottom: 20px;
    font-weight: 700;
    color: #6a0dad;
}
.form-group {
    margin-bottom: 25px;
    text-align: left;
    width: 100%;
    max-width: 500px;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
}

li {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table { 
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
}
th, td { 
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}
th { 
    background-color: #f2f2f2; 
}
.form-group label { 
    display: block; 
    margin-bottom: 5px; 
}
.form-group input { 
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box; 
}
.insured-button:hover {
    background: #4430f7;
}
button { 
    padding: 10px 15px; 
    margin-top: 10px; 
}
.details {
    padding-left: 10px;
}

footer {
    background-color: #457c92;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100vw;
    box-sizing: border-box;
}

/* Media queries pro menší zařízení */
@media (max-width: 768px) {
    .navbar {
        padding: 10px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .navbar-logo {
        height: 40px; 
        margin-right: 10px;
    }

    .navbar-buttons {
        flex-direction: row;
        flex-wrap: nowrap; 
        align-items: center;
        gap: 5px;
    }

    .navbar button {
        font-size: 12px;
        padding: 5px;
    }
}